html, body {
  margin: 0;
  padding: 0;
}
* {
box-sizing: border-box;
}
body{
  background-image: url('backdrop.jpeg');
  background-attachement: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  }
@media (min-width: 319px) and (max-width: 375px) {
	.banner{
   background: rgba(225,225,225,0.6);
   width: 90%;
   margin: 5%;
 }
 .banner2 {
   width: 90%;
   margin: 5%;
   margin-top: 10%;
 }
 .account-form {
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 5%;
   margin-bottom: 10%;
   padding: 15px;
   background: rgba(0, 0, 0, 0.8);
   color: white;
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0.20);
 }
 header {
  text-align: center;
  font-size: 7vw;
  font-spacing: 2px;
  font-family: San serif;
  color: maroon;
  padding: 15px;
  font-weight: 1000;
 }
 .input-data {
	 display: flex;
  margin-bottom: 15px;
 }
 .input-data:last-child {
  margin-bottom: 0px;
 }
 .input-data > i {
  min-width: 40px;
  padding: 10px;
  width: 20%;
  text-align: center;
  background: lightgrey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: maroon;
 }
 .input-data:hover > i {
  background: rgba(0,0,0,0.8);
  color: white;
 }
 .input-data > input[type="text"], .input-data > input[type="password"] {
  outline: none;
  border: none;
  padding: 10px;
  border: 1px solid lightgrey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80%;
 }
 .input-data > input[type="submit"] {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 40%;
  margin: 0 auto;
  font-size: 105%;
  padding: 8px;
  color: #0076ff;
  background: white;
  transition-duration: 0.5s;
 }
 .input-data > input[type="submit"]:hover {
  color: white;
  background: rgba(0,0,0,0.6);
 }
 h5 {
	 font-size: 13px;
  text-align: center;
 }
 h5 a {
  color: white;
  font-size: 15px;
  text-decoration: none;
 }
 h5 a:hover {
  color: maroon;
  font-size: 18px;
  text-decoration: none;
  transition-duration: 0.6s;
 }
}
@media (min-width: 376px) and (max-width: 768px) {
	.banner{
   background: rgba(225,225,225,0.6);
   width: 60%;
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 5%;
   margin-bottom: 5%;
 }
 .banner2 {
   width: 90%;
   margin: 5%;
 }
 .account-form {
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 5%;
   margin-bottom: 10%;
   padding: 15px;
   background: rgba(0, 0, 0, 0.8);
   color: white;
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0.20);
 }
 header {
  text-align: center;
  font-size: 7vw;
  font-spacing: 2px;
  font-family: San serif;
  color: maroon;
  padding: 15px;
  font-weight: 1000;
 }
 .input-data {
	 display: flex;
  margin-bottom: 15px;
 }
 .input-data:last-child {
  margin-bottom: 0px;
 }
 .input-data > i {
  min-width: 40px;
  padding: 10px;
  width: 20%;
  text-align: center;
  background: lightgrey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: maroon;
 }
 .input-data:hover > i {
  background: rgba(0,0,0,0.8);
  color: white;
 }
 .input-data > input[type="text"], .input-data > input[type="password"] {
  outline: none;
  border: none;
  padding: 10px;
  border: 1px solid lightgrey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80%;
 }
 .input-data > input[type="submit"] {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 40%;
  margin: 0 auto;
  font-size: 105%;
  padding: 8px;
  color: #0076ff;
  background: white;
  transition-duration: 0.5s;
 }
 .input-data > input[type="submit"]:hover {
  color: white;
  background: rgba(0,0,0,0.6);
 }
 h5 {
	 font-size: 13px;
  text-align: center;
 }
 h5 a {
  color: white;
  font-size: 15px;
  text-decoration: none;
 }
 h5 a:hover {
  color: maroon;
  font-size: 18px;
  text-decoration: none;
  transition-duration: 0.6s;
 }
}
@media (min-width: 769px) {
	.banner{
   background: rgba(225,225,225,0.6);
   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 30%;
   margin-bottom: 30%;
 }
 .banner2 {
   width: 90%;
   margin: 5%;
 }
 .account-form {
   margin: 20px;
   padding: 15px;
   background: rgba(0, 0, 0, 0.8);
   color: white;
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0.20);
 }
 header {
  text-align: center;
  font-size: 7vw;
  font-spacing: 2px;
  font-family: San serif;
  color: maroon;
  padding: 15px;
  font-weight: 1000;
 }
 .input-data {
	 display: flex;
  margin-bottom: 15px;
 }
 .input-data:last-child {
  margin-bottom: 0px;
 }
 .input-data > i {
  min-width: 40px;
  padding: 10px;
  width: 20%;
  text-align: center;
  background: lightgrey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: maroon;
 }
 .input-data:hover > i {
  background: rgba(0,0,0,0.8);
  color: white;
 }
 .input-data > input[type="text"], .input-data > input[type="password"] {
  outline: none;
  border: none;
  padding: 10px;
  border: 1px solid lightgrey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80%;
 }
 .input-data > input[type="submit"] {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 40%;
  margin: 0 auto;
  font-size: 105%;
  padding: 8px;
  color: #0076ff;
  background: white;
  transition-duration: 0.5s;
 }
 .input-data > input[type="submit"]:hover {
  color: white;
  background: rgba(0,0,0,0.6);
 }
 h5 {
	 font-size: 13px;
  text-align: center;
 }
 h5 a {
  color: white;
  font-size: 15px;
  text-decoration: none;
 }
 h5 a:hover {
  color: maroon;
  font-size: 18px;
  text-decoration: none;
  transition-duration: 0.6s;
 }
}